<style>
    body{
        margin: 0px;
        padding: 0px;
        background: #f1f1f1;
        font-family: Arial;
        box-sizing: border-box;
    }
    h2 {
        margin: 0px;
        padding-top: 10px;
        text-align: center;
    }
    .card-contianer {
        width: 35%;
        height: 60%;
        background: #FFF;
        border-radius: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 1px 10px 1px #000;
        overflow: hidden;
        display: inline-block;
    }
    .upper-container {
        height: 20%;
        background: #084dba;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    .lower-container{
        height: 80%;
        background: white;
    }

</style>

@{
    ViewBag.Title = "Cars";
}



<h2>Cars</h2>
<body>
    <div class="card-contianer">
        <div class="upper-container">
            <h2>Cars</h2>
        </div>
        <div class="lower-container">
            <table class="table table-striped" id="car-table">
                <thead>

                </thead>
                <tbody>

                </tbody>
            </table>
                <button type="button" class="btn btn-danger" id="btn-Car">Show all cars!!</button>
        </div>

    </div>


</body>


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#btn-Car").click(function () {
                var zapis = $("#txt-Car").val();
                $.ajax({
                    type: "GET",
                    url: 'https://localhost:44352/api/cars/GetAllCars',
                    data: { keyword: zapis },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        $("#car-table thead").append('<tr> <th>Car Id</th> <th>Make</th> <th>Model</th> <th>Fuel</th> <th>Power</th> <th>Production Year</th> <th>Quantity</th> <th>Select</th> </tr>')
                        console.log(msg);
                        for (var i = 0; i < msg.length; i++) {
                            $("#car-table tbody").append('<tr> <td>' + msg[i].Id_Car + '</td> <td>' + msg[i].Make + '</td> <td>' + msg[i].Model + '</td> <td>' + msg[i].Fuel + '</td> <td>' + msg[i].Power + '</td> <td>' + msg[i].ProductionYear + '</td> <td>' + msg[i].Quantity + '</td> <td><button type="button" class="btn btn-warning">Select Car</button></td> </tr>');
                        }
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            });
        });
    </script>
}