@{
    ViewBag.Title = "Cars";
}

<h2>Cars</h2>
<body>
    <input type="text" id="txt-Car" />
    <input type="button" id="btn-Car" value="Send" />
</body>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#btn-Car").click(function () {
                var zapis = $("#txt-Car").val();
                $.ajax({
                    type: "GET",
                    url: 'https://localhost:44352/api/cars/GetAllCars',
                    data: { keyword: zapis },
                    dataType: "text",
                    contentType: "application/json; charset=utf-8",
                    success: function (msg) {
                        console.log(msg);
                        $("#txt-Car").val(msg[0].Make);
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
                return false;
            });
        });
    </script>
}